#hero {
   
  // height: 70vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center top, center 80%, 15% 50%, 80% 60%, 80% 35%;
  background-size: contain, contain, auto, auto, auto;
  background-repeat: no-repeat;
  background-image: url("../img/sky-01.webp"), url("../img/sky-02.webp"), url("../img/pixel-diagonal.png"), url("../img/pixel-vertical.png"), url("../img/pixel-diagonal-amarelo.png");


  .container > div{
    margin-top: 240px;
    @include mobile{
      margin-top: 150px

    }
  }
  @include mobile{
    height: 100%;
    padding-bottom: 60px;
    background-position: center top, center bottom, 0% 50%, 80% 80%, 100% 35%;
    background-size: 200%, contain, auto, auto, auto;
    background-repeat: no-repeat;
    background-image: url("../img/sky-01.webp"), url("../img/sky-02.webp"), url("../img/pixel-diagonal.png"), url("../img/pixel-vertical.png"), url("../img/pixel-diagonal-amarelo.png");
  }
}
